:root {
  --one: #171614;
  --two: #3a2618;
  --three: #754043;
  --four: #9a8873;
  --five: #37423d;
}

.note {
  background-color: var(--five);
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  background-color: var(--three);
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
